.MainSectionInfo  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /* identical to box height */

    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.MainSectionInfo h5 {
    margin: 0;
}

.MainSectionInfo p {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    /* or 200% */
}

.sourceContainer {
    display: flex;
    gap: 5px;
    font-size: 16px;
}
