:root {
    --color-principal: #070724;
}

body {
    background-color: var(--color-principal);
    color: white;
}

h1, h2, h3, h4, h5, h6, a, p, span {
    color: white;
}

figure {
    margin: 0;
}

ul {
    padding: 0;
}